# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# env files (secret stuff)
.env